
.task{
    padding: 10px; 
    margin: 5px; 
    border: 1px solid #ccc; 
 }
.highlight{
            background-color: yellow; 
      }

.completed{
            background-color: #e0ffe0; 
       }
body{
    background-color: red;
}